@import "core.scss";

.nopaddingmargin {
   padding: $nopaddingmargin;
   margin: $nopaddingmargin;
}

.nopadding {
  padding: $nopadding;
}
/*--------------- Header --------------------*/
header {
   .row {
      .RenomeNavBar{
         margin-bottom: 0px;
         border: none;
         background-color: #fff;
         padding: 25px 0px;

        div.navbar-header {
          a.navbar-brand{
            span#LogoRenome {
              font-size: $logotext;
              font-family: "Pacifico";
              text-decoration: none;
              color: #000;
            }
          }
        }
        }

         #NavBarMenu li a {
               font-size: 12px;
               text-transform: uppercase;
               color: #000;
               font-family: "MontserratBold";
               text-decoration: none;

           &:hover{
             color: #985e5b;
           }
         }
     ul.dropdown-menu {
       border: none;
       border-radius: 0px;
       min-width: 0px;
       box-shadow: none;
       margin-top: 22px;
       li {
         a {
           color: #1e2633;
         }
       }
     }

   }
}


/*---------------Main Slider--------------------*/


.bx-wrapper {
      margin-bottom: 0px;
      .bx-viewport {
         border: none;
         left: 0px;
      }
      .bx-pager {
        display: none;
      }

    }
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 83%;
  margin-top: -16px;
  outline: 0;
  width: 55px;
  height: 55px;
  text-indent: -9999px;
  z-index: 9999;
}
.bx-wrapper .bx-prev {
  left: 202px;
  background: url(../img/SliderArrowLeft.png) no-repeat;
}

.bx-wrapper .bx-next {
  left: 272px;
  background: url(../img/SliderArrowRight.png) no-repeat;
}
.bx-wrapper .bx-next:hover {
  background-position: 0;
}

.TitleBox {
  position: absolute;
  right: 12%;
  top: 83%;
   h1.TitleMain {
     margin-bottom: 5px;
       font-size: 50px;
       color: #fff;
       font-family: "AxisRegular";


   }
  span.SubTitleMain {
    font-size: 30px;
    color: #985e5b;
    font-family: "MontserratBold";
  }
}

/*---------------Section About--------------------*/

section.SectionAbout {
    .container {
      .row {
        padding-bottom: 8%;
        .LeftContentAbout {
          padding-top: 8%;
          padding-left: 13%;
        }

        .RightContentAbout {
          padding-top: 10%;
          padding-left: 15%;

          h2 {
            font-size: 50px;
            color: #1e2633;
            font-family: "AxisRegular";
            margin-bottom: 5px;
            letter-spacing: 10px;
          }
          span {
            font-size: 12px;
            color: #985e5b;
            font-family: "MontserratBold";
            letter-spacing: 1.5px;
            text-transform: uppercase;

          }
          p {
            font-size: 12px;
            color: #404040;
            font-family: "MontserratRegular";
            padding-top: 20px;
            line-height: 30px;
            letter-spacing: 1.5px
          }

          p.ContentAbout3 {
            font-size: 30px;
            font-family: "MontserratBold";
            padding-top: 0px;
          }
        }
      }
    }
  }


/*---------------Section Lunch--------------------*/

section.SectionLunch {
  background: #f7f7f7;
  .container {
    .row {
      padding-bottom: 8%;
      .LeftContentLunch {
        padding-top: 23%;
        text-align: center;
        padding-left: 9%;
        h2 {
          font-size: 50px;
          color: #1e2633;
          font-family: "AxisRegular";
          margin-bottom: 5px;
          letter-spacing: 10px;
        }
        span {
          font-size: 12px;
          color: #985e5b;
          font-family: "MontserratBold";
          letter-spacing: 1.5px;
          text-transform: uppercase;

        }
      }

      .RightContentLunch {
        padding-top: 10%;


      }
    }
  }
}

/*---------------Section Menu--------------------*/

section.SectionMenu {
  .container {
    .row {
      padding-bottom: 8%;
      .RightContentMenu {
        padding-top: 8%;
        padding-left: 6%;

      }

      .LeftContentMenu {
        padding-top: 10%;
        text-align: right;
        padding-right: 2%;

        h2 {
          font-size: 50px;
          color: #1e2633;
          font-family: "AxisRegular";
          margin-bottom: 5px;
          letter-spacing: 10px;
        }
        span {
          font-size: 12px;
          color: #985e5b;
          font-family: "MontserratBold";
          letter-spacing: 1.5px;
          text-transform: uppercase;
          padding-right: 6px;

        }
        p {
          font-size: 12px;
          color: #404040;
          font-family: "MontserratRegular";
          padding-top: 20px;
          line-height: 30px;
          letter-spacing: 1.5px;
          padding-right: 6px;
        }

        p.ContentAbout3 {
          font-size: 30px;
          font-family: "MontserratBold";
          padding-top: 0px;
          padding-right: 6px;
        }
      }
    }
  }
}

/*---------------Section Romantic--------------------*/
img.RomanticImg {
  position: absolute;
  margin-top: 40%;
  left: 19%;

}
section.SectionRomantic {
  background: #f7f7f7;
  .container {
    .row {
      padding-bottom: 15%;
      .LeftContentRomantic {

      }

      .RightContentRomantic {
        padding-top: 18%;
        padding-left: 10%;
        text-align: center;

        span {
          font-size: 25px;
          color: #1e2633;
          font-family: "MontserratRegular";
          line-height: 38px;
          letter-spacing: 6px;

        }
        p {
          font-size: 12px;
          color: #1e2633;
          font-family: "AxisRegular";
          padding-top: 20px;
          line-height: 30px;
          letter-spacing: 1.5px;
          text-transform: uppercase;


        }

      }
    }
  }
}

/*---------------Section Reservation--------------------*/

section.SectionReservation {
  .container {
    .row {
      padding-bottom: 8%;
      .LeftContentReservation {
        padding-top: 8%;
        padding-left: 13%;
      }

      .RightContentReservation{
        padding-top: 10%;
        padding-left: 10%;

        h2 {
          font-size: 50px;
          color: #1e2633;
          font-family: "AxisRegular";
          margin-bottom: 5px;
          letter-spacing: 12px;
        }
        span {
          font-size: 12px;
          color: #985e5b;
          font-family: "MontserratBold";
          letter-spacing: 3px;

        }
        p {
          font-size: 12px;
          color: #404040;
          font-family: "MontserratRegular";
          padding-top: 20px;
          line-height: 30px;
          letter-spacing: 2.2px
        }
        p.ContentAbout3 {
          font-size: 30px;
          font-family: "MontserratBold";
          padding-top: 0px;
        }
      }
    }
  }
}

/*---------------Section OurService--------------------*/

section.SectionOurService {
  .container {
    .row {
      padding-bottom: 8%;
      text-align: center;

        h2 {
          font-size: 50px;
          color: #1e2633;
          font-family: "AxisRegular";
          margin-bottom: 5px;
          letter-spacing: 12px;
        }
        span {
          font-size: 12px;
          color: #985e5b;
          font-family: "MontserratBold";
          letter-spacing: 3px;
          text-transform: uppercase;
        }
    }
  }
}

/*---------------Section OurService--------------------*/

section.SectionOurServiceSteps {
  background: #f7f7f7;
  .container {
    .row {
       .ContentOurServiceSteps{
         padding-top: 8%;

      padding-bottom: 8%;
      text-align: center;

      span {
        font-size: 20px;
        color: #1e2633;
        font-family: "MontserratRegular";
        letter-spacing: 2px;
      }
    }

      .ContentOurServiceStepsBorder{
        padding-top: 8%;
        padding-bottom: 8%;
        text-align: center;
        border-right: 1px solid #d9d9d9;
        border-left: 1px solid #d9d9d9;

        span {
          font-size: 20px;
          color: #1e2633;
          font-family: "MontserratRegular";
          letter-spacing: 2px;
        }
      }
    }
  }
}

/*---------------Section OurService--------------------*/

section.SectionOrderNow {
  background: url("../img/img_order_now.jpg") no-repeat;
  background-size: cover;
  .container {
    .row {
      padding-top: 8%;
      padding-bottom: 8%;
      text-align: center;
        .OrderNowContent {
          a {
            padding: 20px 42px;
            background: #1e2633;
            font-size: 11px;
            color: #fff;
            font-family: "MontserratBold";
            text-transform: uppercase;
            letter-spacing: 2px;
            text-decoration: none;
            &:hover {
              background: #985e5b;
          }

        }
        }
    }
  }
}

/*---------------Section Blog--------------------*/

section.SectionBlog {
  .container {
    .row {
      padding-top: 8%;
      padding-bottom: 5%;
      text-align: center;

      h2 {
        font-size: 50px;
        color: #1e2633;
        font-family: "AxisRegular";
        margin-bottom: 10px;
        letter-spacing: 12px;
      }
      span {
        font-size: 12px;
        color: #985e5b;
        font-family: "MontserratBold";
        letter-spacing: 3px;
        text-transform: uppercase;
      }
    }
  }
}

/*---------------Section BlogContent--------------------*/

section.SectionBlogContent {
  .container {
    .row {
      padding-bottom: 8%;
      text-align: center;
      
      .BlogContent1{
        background: url("../img/img_blog1.jpg") no-repeat;
        width: 326px;
        height: 326px;
        padding-top: 94px;
        margin-left: 13px;

        a{
          text-decoration: none;
        .BlogDate {
          font-size: 14px;
          color: #dcdee0;
          font-family: "MontserratBold";
          letter-spacing: 1px;
          }

          .BlogTextUp {
            font-size: 12px;
            color: #000;
            font-family: "AxisRegular";
            letter-spacing: 2px;
            text-transform: uppercase;
            padding-top: 54px;

          }

          .BlogTextDown {
            font-size: 30px;
            font-family: "MontserratBold";
            color: #000;

            &:hover {
              color: #985e5b;
            }


          }
        }
      }

      .BlogContent2{
        background: url("../img/img_blog2.jpg") no-repeat;
        width: 326px;
        height: 326px;
        padding-top: 94px;
        margin-left: 74px;

        a{
          text-decoration: none;
          .BlogDate {
            font-size: 14px;
            color: #dcdee0;
            font-family: "MontserratBold";
            letter-spacing: 1px;
          }

          .BlogTextUp {
            font-size: 12px;
            color: #000;
            font-family: "AxisRegular";
            letter-spacing: 2px;
            text-transform: uppercase;
            padding-top: 28px;
            line-height: 20px;

          }

          .BlogTextDown {
            font-size: 30px;
            font-family: "MontserratBold";
            color: #000;

            &:hover {
              color: #985e5b;
            }


          }
        }
      }

      .BlogContent3 {
        background: url("../img/img_blog3.jpg") no-repeat;
        width: 326px;
        height: 326px;
        padding-top: 94px;
        margin-left: 74px;

        a{
          text-decoration: none;
          .BlogDate {
            font-size: 14px;
            color: #dcdee0;
            font-family: "MontserratBold";
            letter-spacing: 1px;
          }

          .BlogTextUp {
            font-size: 12px;
            color: #000;
            font-family: "AxisRegular";
            letter-spacing: 2px;
            text-transform: uppercase;
            padding-top: 54px;

          }

          .BlogTextDown {
            font-size: 30px;
            font-family: "MontserratBold";
            color: #000;

            &:hover {
              color: #985e5b;
            }


          }
        }
      }
    }
  }
}

/*---------------Section Contact--------------------*/

section.SectionContact {
  .container {
    .row {
      padding-bottom: 8%;
      .RightContentContact {
        padding-top: 8%;
        padding-left: 6%;

      }

      .LeftContentContact {
        padding-top: 10%;
        text-align: right;
        padding-right: 2%;

        h2 {
          font-size: 50px;
          color: #1e2633;
          font-family: "AxisRegular";
          margin-bottom: 5px;
          letter-spacing: 10px;
        }
        span {
          font-size: 12px;
          color: #985e5b;
          font-family: "MontserratBold";
          letter-spacing: 1.5px;
          text-transform: uppercase;
          padding-right: 6px;

        }
        p {
          font-size: 12px;
          color: #404040;
          font-family: "MontserratRegular";
          padding-top: 20px;
          line-height: 30px;
          letter-spacing: 1.5px;
          padding-right: 6px;
        }

        p.ContentAbout3 {
          font-size: 30px;
          font-family: "MontserratBold";
          padding-top: 0px;
          padding-right: 6px;
        }
      }
    }
  }
}
/*---------------Section Footer--------------------*/

footer {
  background: #f7f7f7;
  .container {
    .row {
      padding-top: 3%;
      padding-bottom: 3%;

      .FooterContent1 {
        .LogoRenome{
          font-size: $logotext;
          font-family: "Pacifico";
          text-decoration: none;
          color: #000;
        }
      }

      .FooterContent2 {
        padding-top: 13px;
        .Copyrighting{
          font-size: 12px;
          font-family: "AxisRegular";
          color: #1e2633;
          text-transform: uppercase;
          letter-spacing: 1.5px;
        }
      }

      .FooterContent3 {
        padding-top: 12px;
        .SocialFooter{
          font-size: 12px;
          font-family: "MontserratBold";
          color: #1e2633;
          text-transform: uppercase;
          padding-right: 10px;
        }
      }
    }
  }
}

